@import "./variables.css";
@import "./plasma.css";
@import "./markdown.css";
@import "./prism-kde.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: var(--bg-dark-primary);
  color: var(--text-primary);
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

button, input, textarea, select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
